@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');
@font-face {
  font-family: "Cal Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("./fonts/webfonts/CalSans-SemiBold.woff2") format("woff2"),
    url("./fonts/webfonts/CalSans-SemiBold.woff") format("woff"),
    url("./fonts/webfonts/CalSans-SemiBold.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: #121212;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header__content {
	
}

.header {
	margin-bottom: 238px;
}

.header__bar {
	display: flex;
	height: 28px;
	margin-bottom: 144px;
}

.header__menu {
	display: flex;
	align-items: center; 
	margin-top: 63px;
	margin-right: 81px;
}

.header__logo {
	width: 28px;
	height: 28px;
	margin-right: 12px;
}

.header__subtitle {
	margin-right: 135px;
}

.header__link {
	margin-right: 56px;
}

.header__link_max {
	margin-right: 0px;
}

.header__img {
	position: relative;
}

.header__img_logo {
	position: absolute;
	bottom: -595px;
	
	text-align: center;
	height: 80px;
	width: 80px;
	margin-left: 348px;
	border-radius: 50%;
	background: #FFFFFF;
}

.header__logo_bottom {
	position: absolute;
	left: 28px;
	bottom: 28px;

	width: 24px;
	height: 24px;
}

.header__info {

}

.header__title {
	max-width: 469px;
	font-family: 'Cal Sans';
	font-weight: 600;
	font-size: 56px;
	line-height: 67px;
	margin-bottom: 16px;

	color: #121212;
}

.header__title_orange {
	color: #FF6428;
}

.header__text {
	max-width: 398px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 33px;
	color: #666666;
}

.heder__app {
	display: flex;
	align-items: center;
}

.header__btn {
	padding: 18px 48px;
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	margin-right: 40px;

	color: #FFFFFF;

	background: #FF6428;
	border-radius: 40px;
}

.header__google_btn {

}

.header__google_btn {
	width: 26px;
	height: 29px;
	margin-right: 28px;
}

.header__app_btn {
	width: 26px;
	height: 32px;
}

.store__head {

}

.store__title {
	text-align: center;
	font-family: 'Cal Sans';
	font-weight: 600;
	font-size: 44px;
	line-height: 53px;
	margin-bottom: 92px;
}

.store__subtitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
}

.store__board {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.08em;

	color: #121212;
}

.store__link {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;

	color: #868686;
}

.store__products {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 102px;
}

.store__products_marg {
	margin-bottom: 180px;
}

.store__product {
	margin-right: 50px;
}

.store__product_short {
	margin-right: 0;

}

.store__img {
	width: 364px;
	height: 190px;
	margin-bottom: 40px;
}

.store__name {
	margin-bottom: 7px;
}

.store__price {

}

.kind {
	margin-bottom: 220px;
}

.kind__title_marg {
	margin-bottom: 80px;
}

.kind__cards {
	display: flex;
	justify-content: space-around;
}

.kind__card {
	position: relative;
	width: 220px;
	height: 280px;
}

.kind__img {
	position: absolute;
	z-index: 0;
}

.kind__name {
	position: absolute;
	z-index: 1;
	top: 220px;
	left: 73px;
	font-weight: 600px;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}

.kind__name_left {
	left: 65px;
}

.kind__name_53 {
	left: 53px;
}

.brends {
	margin-bottom: 197px;

}

.brends__content {

}

.brends__title {
	margin-bottom: 75px;
}

.brends__logos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.brends__logo{
	width: 142px;
	margin-right: 160px;
	margin-bottom: 80px;
}

.brends__logo_marg {
	margin-right: 0;
}

.rhythm {
	padding-top: 93px;
	background: #121212;
	padding-bottom: 94px;
}

.rhythm__title {
	text-align: center;
	font-family: 'Cal Sans';
	font-weight: 600;
	font-size: 44px;
	line-height: 53px;
	color: #FFFFFF;
	margin-bottom: 75px;
}

.rhythm__information {
	display: flex;
	justify-content: space-between;
}

.rhythm__why_we {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rhythm__backgraund {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 72px;
	height: 72px;
	background: #262626;
	border-radius: 20px;
	margin-bottom: 40px;
}

.rhythm__subtitle {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;

	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 12px;
}

.rhythm__text {
	max-width: 230px;
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: capitalize;
	color: #666666;
	text-align: center;
}

.review {
	padding-top: 240px;
	padding-bottom: 240px;
}

.review__title {
	margin-bottom: 109px;
}

.review__info {
	display: flex;
	justify-content: center;
}

.review__img {
	margin-right: 146px;
}

.review__text {
	max-width: 524px;
	padding-top: 29px;
}

.review__letter {
	font-family: 'Poppins';
	line-height: 160%;
	font-weight: 400;
	font-size: 24px;

	color: #666666;
	margin-bottom: 56px;
}

.review__name {
	font-family: 'Poppins';
	line-height: 160%;
	font-weight: 600;
	font-size: 24px;

	color: #000000;
	margin-bottom: 8px;
}

.review__context {
	display: flex;
	justify-content: space-between;
}

.review__status {
	font-family: 'Poppins';
	line-height: 160%;
	font-weight: 500;
	font-size: 18px;

	color: #868686;
}

.review__vectors {
	display: flex;
	align-items: center;
	height: 16px;
}

.review__vector1 {
	width: 24px;
	height: 12px;
	margin-right: 12px;
}

.review__vector2 {
	width: 10px;
	margin-right: 8px;
}


.browse {
	padding-bottom: 120px;
}

.browse__content {
	display: flex;
	justify-content: space-between;
}

.browse__offer {
	max-width: 484px;
	padding-top: 116px;
}

.browse__title {
	margin-bottom: 60px;
	font-family: 'Cal Sans';
	font-weight: 600;
	font-size: 48px;
	line-height: 140%;
	color: #000000;
}

.browse__btn {
	display: flex;
}

.browse__google {
	margin-right: 25px;
	width: 192px;
	height: 57px;
	mix-blend-mode: normal;
	border-radius: 5px;
	border: none;
	background: url(./display7/google_app.jpg)
}

.browse__app {
	width: 171px;
	height: 57px;
	mix-blend-mode: normal;
	border-radius: 7px;
	border: none;
	background: url(./display7/app_store.jpg)
}

.browse__application {
	margin-top: -66px;
}

.footer {
	background: #EEEEEE;
	padding-top: 84px;
	padding-bottom: 43px;
}

.footer__info {
	display: flex;
	margin-bottom: 83px;
}

.footer__contact {
	margin-right: 245px;
}

.footer__logo {
	width: 40px;
	height: 40px;
	margin-right: 24px;
}

.footer__name {
	font-family: 'Cal Sans';
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
	color: #121212;
}

.footer__nav {
	display: flex;
}

.footer__nav_name {
	margin-bottom: 28px;
}

.footer__nav_email {
	margin-bottom: 20px;
}

.footer__email_logo {
	margin-right: 22px;
}
.footer__loc_logo {
	margin-right: 23px;
}

.footer__links{
	display: flex;
	justify-content: space-between;
}

.footer__pages {
	display: flex;
	flex-direction: column;
	margin-right: 126px;
}

.footer__page {
	margin-bottom: 20px;
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	text-transform: uppercase;
	color: #121212;
}

.footer__text {
	margin-bottom: 16px;
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: rgba(18, 18, 18, 0.6);
}

.footer__btns {
	display: flex;
	margin-top: 12px;
}

.footer__facebook {
	margin-right: 32px;
}

.footer__twitter {
	margin-right: 32px;
}

.footer__instagram {

}

.footer__end {
	padding-left: 400px;
}